@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i&display=swap');
@import 'normalize';
@import 'mixins';


* {
	box-sizing: border-box;
}

$header-color: #fff;
$text-color: #000;
$gray: #796c78;
$app-footer-color:#f7f7f7; 

html {
	font: 10px/1.6 'Lato', sans-serif;
	height: 100%;

}

body {
	color: $text-color;
	font-size: 2.2rem;
	min-height: 100%;
	margin:0;
    padding:0;
    background-color: #444;
}
header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	color: $header-color;
}

main{
	background-color: $header-color;
}

.container {
	max-width: 1170px;
	width: 80%;
	padding: 0 15px;
	margin: 0 auto;
	
}

nav{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{

	@include tdn();
	@include hover {
		opacity: .5;
	}
}

.menu{
	margin: 0;
	padding: 0;
	&__item{
		display: inline-block;
		margin: 0 20px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		text-transform: uppercase;
		color: $header-color;
		border-bottom: 1px solid transparent;
		font-size: 1.6rem;
		font-weight: 400;
		@include tdn();
		@include hover {
			border-color: $header-color;
		}
	}
	&__btn{
		@include tdn();
		display: inline-block;
		margin-left: 20px;
			@include hover {
			opacity: .5;
		}
	}
	&__btn-img{
		height: 15px;
		width: 20px;
	}
}


.flex {
	display: flex;
	&--column {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&--feature{
		justify-content:space-between;
		padding: 100px 0 100px 0;
	}
	&--app{
		justify-content:space-between;
	}
	&--footer{
		justify-content:space-between;
		align-items: center;
	}
	
	.cover & {
		height: 100%;
	}
}
.cover {
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $header-color;
	&__title {
		font-size: 8rem;
		font-weight: 700;
		margin: 0 0 20px 0;
		line-height: 1;
	}
	&__subtitle-1{
		font-size: 3rem;
		margin: 0;
		line-height: 1;
		font-family: 'Crimson Text';
		font-style: italic;
		opacity: .7;
	}
	&__subtitle-2{
		font-size: 1.4rem;
		margin-top: 35px;
		line-height: 1;
			a{
				color: $header-color;
				@include hover {
					color: $gray; 
				}
			}
	}
}

.btn {
	border-radius: 3px;
	border: 2px solid $header-color;
	font-size: 1.6rem;
	padding: 15px 60px;
	color: $header-color;
	background: transparent;
	@include tdn();
	@include hover {
		background-color: #4d3d4c;
	}
	
}

.section{
	background-color: #fff;
	&--dark{
		background-color:#4a3949;
	}
	
}

.feature{
	text-align: center;
	width: 30%;
}

.heading{
	font-size: 1.8rem;
	font-weight: 700;
	position: relative;
		&:before{
			content: ' ';
			position: absolute;
			top: 100%;
			left:50%;
			transform: translate(-50%, 0);
			width: 90px;
			height: 1px;
			background-color: #f57365;
		}
	&--left{
		&:before{
			left: 0;
			transform: translate(0, -50%);
		}
	}
}

.text{
	font-size: 1.4rem;
	font-weight: 300;
}

.app{
	background-color: $app-footer-color;
	padding-top: 100px; 
	&__img{
		width: 350px;
		height: 520px;
		align-self: flex-end;
	}
	&__info{
		width: 55%;
	}
	&__btn{
		margin: 20px 5px 5px 0;
	}
}

.comment{
	padding: 70px 0 70px 0;
	height: 475px;
	text-align: center;
	color: $header-color;
	background-repeat: no-repeat;
	background-position: center;
	&__img-box{
		width: 105px;
		height: 105px;
		overflow: hidden;
		border-radius: 15px;
		border-radius: 50%;
		border: 3px solid $gray;
		position: relative; 
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}
	&__quote{
		font-weight: 300;
		opacity: .6;
		font-size: 3rem;
	}
	&__author{
		font-weight: 300;
		font-size: 2rem;
		font-style: italic;
		margin-bottom: 0;
	}
	&__slider{
		list-style: none;
		padding: 30px ;
		margin: 0;
		li {
			display: inline-block;
		}
	}
	&__dot{
		border: 1px solid transparent;
		background-color: $gray;
		width: 12px;
		height: 12px;
		padding: 0;
		border-radius: 50%;
		outline: none;
		&hover,
		&focus,
		&active,
		&--active{
			background-color: #fff;
		}
	}
}


.cuisines{
	text-align: center;
	width: 100%;
	&__title{
		text-align: center;
		margin: 100px 0 50px 0;
	}
	&__row{
		display: flex;
		flex-wrap: nowrap;
	}

}
.cuisine{
	width: 20%;
	position: relative;
	height: 180px;
	&__link{
		font-size: 0;
		color: $header-color;
		@include hover {
		opacity:.6;
		}
	}
	&__img{
		width: 100%;
	}
	&__text{
		font-style: italic;
		font-family: 'Crimson Text';
		font-size: 1.8rem;
		position: absolute;
		top:50%;
		left: 50%;
		transform:translate(-50%, -230%);
	}
	&__title{
		font-weight: 700;
		font-size: 3.6rem;
		position: absolute;
		top:50%;
		left: 50%;
		transform:translate(-50%, -120%);

	}
}


.lists{
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
}		

.list{
	text-align: center;
	width: 100%;
	&__number{
		font-size: 3.6rem;
		margin: 0;
		line-height: 1;
	}

	&__description{
		font-size: 1.5rem;
		opacity: 0.6;
		margin: 0;
	}
}

footer{
	height: 95px;
	border-top: 1px solid #e2e2e2;
	background-color: $app-footer-color;
	
}

.copyright{
	opacity: .5;
	font-size: 1.4rem;
}
.design-by{
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1.4rem;
	span {
		color: #a0a0a0;
	}
	a {
		@include tdn();
		font-weight: 700;
		font-size: 1.5rem;
		color: #000;
		@include hover {
			color: $gray; 
		}
	}
}